<div class="container">
  <h3 class="d-flex justify-content-center">.NetCore3.1 + Angular10</h3>
  <h5 class="d-flex justify-content-center">Company Managment App</h5>

  <nav class="navbar navbar-expand-sm bg-light navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item">
        <button class="m-1 btn btn-light btn-outline-primary">Departments</button>
      </li>
      <li class="nav-item">
        <button class="m-1 btn btn-light btn-outline-primary">Employee</button>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>